html {
    background-color: grey;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* -------------------- HEADER --------------------  */
header {
    background-color: rgb(0, 0, 255);
    height: 5vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    color: white;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.header-current-view {
    display: flex;
    padding-left: 10%;
    align-content: center;
    align-items: center;
}

/* -------------------- BODY --------------------  */

body {
    color: black;
    position: relative;
    left: 1.5vw;
    top: 5vh;
    overflow: hidden;
    margin: 0;
}
/* -------------------- FOOTER --------------------  */

footer {
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* -------------------- NAV --------------------  */
nav {
    position: fixed;
    color: black;
    left: 0;
    top: 5vh;
    height: 100vh;
    background-color: rgb(92, 105, 233);
    box-shadow: 4px 0px 5px 0px #00000091;
}

.nav-open {
    width: 25vw;
}

.nav-closed {
    width: 1vw;
}

#nav-tab-button {
    color: wheat;
    position: relative;
    text-align: center;
    float: right;
    display: flex;
    height: 100vh;
    align-items: center;
    box-shadow: -5px 0px 5px 0px #00000091;
}

#nav-tab-content {
    color: antiquewhite;
}

/* -------------------- OTHER --------------------  */
.hide {
    visibility: hidden;
    width: 0;
}

/* -------------------- CONTENT --------------------  */
.content-container {
    overflow: hidden;
}

/* -------------------- TEST --------------------  */
.test {
    display: flex;
}
.test-sub-menu {
    background-color: rgb(135, 155, 222);
    height: 100vh;
    width: 40%;
}

.test-content {
    background-color: rgb(108, 136, 226);
    border-left: 5px solid;
    border-color: rgb(63, 99, 219);
    padding: 1% 2% 4% 1%;
}
